<!-- <button mat-raised-button color="primary">
  Click
</button> -->

<mat-toolbar color="primary">
  Angular Material
</mat-toolbar>

<main>
  <mat-card>
    <form action="">
      <img
       width="120"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <mat-form-field>
        <input type="text" matInput placeholder="title" #title>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Album id" #albumId>
          <mat-option *ngFor="let id of albumsId" value="id">
            {{ id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="URL" #url>
      </mat-form-field>
      <button mat-button mat-flat-button color="primary" style="display-block; width: 100%;">
        Save
      </button>
    </form>
  </mat-card>
  <app-photos></app-photos>
</main>

  <!-- TIPOS DE BOTONES ANGULAR MATERIAL -->
  <!-- <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <button mat-raised-button color="primary">raised</button>

      <button  mat-stroked-button color="primary">stroked</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <button mat-flat-button color="primary">Flat</button>
      <button mat-icon-button aria-label>icon</button>
      <button mat-icon-button color="primary">icon</button>
      <button mat-fab color="primary">FAB</button>
      <button mat-fab color="warn">FAB</button>
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">Mini</button>
    </div>
  </section> -->
  
